html {
  overflow: hidden;
  height: 100%;
}

body {
  background: #fefefe;
  height: 100%;
  overflow: auto;
}

header {
  min-height: 600px;
  text-align: center;
  background-image: url("images/building.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.info-form {
  margin: -2em auto;
  z-index: 1;
  max-width: 25%;
  text-align: center;
}
